<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DuckTab</a>
      <button id=btnLogout class="btn btn-danger pull-right">
        Logout
      </button>
    </div>
  </div>
</nav>
<div>
  <table class="table">
    <tr>
      <th>
        Feeback Question
      </th>
      <th>
        Sentiment
      </th>
      <th>
        Detail
      </th>
    </tr>
    <tr ng-repeat="surveyQuestion in surveyQuestions">
      <td>{{surveyQuestion.subject}}</td>
      <td>68%</td>
      <td>
        <button class="btn btn-primary" ng-click="openDetails(surveyQuestion.subject)">
          Details
        </button>
      </td>
    </tr>
  </table>
</div>
