<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="page-header">
      <h1 style="padding-left:30px">Welcome to Ducktab!</h1>
    </div>
      <button id=btnLogout ng-click="logout()" class="btn btn-danger pull-right">Logout</button>
  </div>
</nav>

<div>
    <div class="col-lg-6 left"><h2># of Patients Online</h2><p>12</p></div>
    <div class="col-lg-6 right"><h2>Overall Feedback Sentiment</h2><p>68%</p></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="rooms col-lg-3 col-md-3 col-sm-6 col-xs-6"><h3>Reception</h3><p>3</p></div>
        <div class="rooms col-lg-3 col-md-3 col-sm-6 col-xs-6"><h3>Treatment Room</h3><p>4</p></div>
        <div class="rooms col-lg-3 col-md-3 col-sm-6 col-xs-6"><h3>Sedation Room</h3><p>2</p></div>
        <div class="rooms col-lg-3 col-md-3 col-sm-6 col-xs-6"><h3>Pharmacy</h3><p>3</p></div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th>Feedback Questions</th>
            <th>Sentiment</th>
            <th>Detail</th>
        </tr>
      </thead>
      <tbody ng-repeat="locations in questionWithLocations">
            <tr ng-repeat="(question, answer) in locations">
              <td>{{question}}</td>
              <td>68%</td>
              <td class="no-padding">
                  <button class="btn btn-primary" ng-click="openDetails(question)">Details</button>
              </td>
          </tr>
      </tbody>
    </table>
</div>
