<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
<!--      <a class="navbar-brand" href="/">DuckTab</a>-->
      <button id="btnBackToQuestions" class="btn btn-warning pull-right" ng-click="backToQuestions()">
        Back To Questions
      </button>
      <button id=btnLogout class="btn btn-danger pull-right">
        Logout
      </button>
    </div>
  </div>
</nav>

<div ng-repeat="questionAnswer in questionAnswers" ng-if="questionAnswer.subject == question">
  <h1 class="question"><b>Question:</b> {{questionAnswer.subject}}</h1>
   <table class="table">
     <thead>
        <tr>
            <th>Responses</th>
            <th>Sentiment</th>
        </tr>
     </thead>
     <tbody>
        <tr ng-repeat = "r in questionAnswer.result">
            <td>{{r.answer}}</td>
            <td>60%</td>
        </tr>
     </tbody>
    </table>
</div>


